.presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: #0d0d1a;
  color: #fff;
  flex-wrap: nowrap;
  padding-top: 5rem;
  gap: 10rem;
  overflow: hidden;
}

.foto img {
  width: 250px;
  height: auto;
  border-radius: 2%;
  border: 4px solid #a259ff;
  box-shadow: 0 0 15px #a259ff;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  overflow: hidden;
  object-fit: cover;
}

.info {
  max-width: 600px;
  overflow: hidden;
}

.info h1 {
  font-size: 1.5rem;
  margin: 0;
}

.info h2 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

.info h2 span {
  color: #3b82f6;
  background-color: white;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.info h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.info p {
  font-size: 1rem;
  color: #c0c0c0;
}

.redes a {
  margin-right: 1rem;
  color: #fff;
  font-size: 1.6rem;
}

.btn-cv {
  display: inline-block;
  padding: 1px 2px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-cv:hover {
  background-color: #0056b3;
}

.modal-cv {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content-cv {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 900px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-content-cv iframe {
  flex: 1;
  width: 100%;
  height: 100%;
}

.close-cv {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.close-cv:hover {
  color: black;
}
@media (max-width: 1025px) {
  .modal-content-cv {
    width: 100%;
    min-height: 60vh;
    height: auto;
    margin: 10% auto;
  }
  .presentacion {
    flex-direction: column-reverse;
    gap: 1rem;
    margin-top: 10rem;
  }
}

@media (min-width: 768px) {
  .presentacion {
    padding-top: 8rem;
  }

  .modal-content-cv {
    width: 95%;
    min-height: 100vh;
    height: auto;
    margin: 10% auto;
  }

  .close-cv {
    font-size: 24px;
  }

  .modal-content-cv iframe {
    height: 100vh;
  }
}
